<div class="tweet-top">
    <div class="tweet-image">
        <img src="{{tweet?.user?.image}}" alt="Profile Pic">
    </div>
    <div class="tweet-details">
        <div class="tweet-info">
            <p class="tweet-title">{{tweet?.user?.firstName}} {{tweet?.user?.lastName}}  
                <span class="tweet-handle italic">@{{tweet?.user?.email}}</span>
                <span class="tweet-date italic">{{tweet?.date | date}}</span>
            </p>
            <P class="tweet-text">{{tweet?.tweetContent}}</P>
        </div>
        <div class="tweet-actions">
            <button (click)="likeTweet()" [class.tweet-liked]="tweetLiked" [disabled]="!enableLike">Like({{totalLikes}})</button>
            <button [disabled]="!enableDelete" (click)="deleteTweet()">Delete</button>
            <button *ngIf="totalReplies > 0" (click)="toggleRepliesView()">{{showReplies ? "Hide Replies" : "Show Replies"}}</button>
        </div>
        <div class="tweet-reply" *ngIf="enableReply">
            <textarea maxlength="140" placeholder="Enter your reply" (keyup)="validReply()" [(ngModel)]="reply"></textarea>
            <button (click)="replyTweet(reply)" [disabled]="!isValidReply">Reply</button>
        </div>
    </div>
</div>
<div class="tweet-bottom" *ngIf="showReplies">
    <div class="tweet-reply-empty">
        <span class="bold">Replies({{totalReplies}}):</span>
        <span>
            <a (click)="expand(true)" *ngIf="totalReplies - indexAllowed > 0">More</a>
            <a (click)="expand(false)" *ngIf="indexAllowed > 5">Less</a>
        </span>
    </div>
    <div class="tweet-replies">
        <ng-container *ngFor="let reply of tweet?.replies; let i = index">
            <div *ngIf="i<indexAllowed" class="tweetReply">
                <span>
                   <p class="bold">
                       {{reply?.user?.firstName}} {{reply?.user?.lastName}}
                       <i class="tweet-handle">@{{reply?.user?.email}}</i>
                   </p>
                   <span>{{reply?.tweetContent}}</span>
                </span>
                <span class="italic">{{reply?.date | date}}</span>
            </div>
        </ng-container>
    </div>
</div>