<div class="change-password-form">
    <h2 class="form-header center">Change Password!!</h2>

    <form class="form-group" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="form-control">
            <label for="password">New Password</label>
            <input type="password" formControlName="oldPassword"placeholder="Old Password" id="old-password">
            <span class="error italic" *ngIf="!changePasswordForm.controls['oldPassword'].valid && changePasswordForm.controls['oldPassword'].dirty">Enter valid Password</span>
        </div>
        <div class="form-control">
            <label for="password">New Password</label>
            <input type="password" formControlName="password"placeholder="New Password" id="new-password">
            <span class="error italic" *ngIf="!changePasswordForm.controls['password'].valid && changePasswordForm.controls['password'].dirty">Enter valid Password</span>
        </div>
        <div class="form-control">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" id="confirm-password">
            <span class="error italic" *ngIf="!changePasswordForm.controls['confirmPassword'].valid && changePasswordForm.controls['confirmPassword'].dirty">Match the entered Password</span>
        </div>
        <div class="form-control">
            <button type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
        </div>
    </form>
</div>